body.dark {
  background-color: rgb(21, 21, 22);
  color: rgb(236, 247, 249);
}

* {
  font-size: 16px;
  font-family: sans-serif;
  margin: 0;
}

body {
  width: 80%;
  margin: 80px auto;
}

form {
  border: 1px solid rgba(153, 153, 153, 0.6);
}

form > div {
  margin: 30px 20px;
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  height: 20px;
  width: 40%;
}

button {
  margin-left: 20px;
  margin-bottom: 30px;
  padding: 16px 32px;
  cursor: pointer;
}

.message-error {
  margin-top: 10px;
  border: 1px solid rgba(212, 42, 0, 1);
  color: rgb(212, 42, 0);
  background-color: rgba(212, 42, 0, 0.4);
  padding: 16px 32px;
  margin-bottom: 20px;
  display: none;
}

.message-success {
  border: 1px solid rgb(81, 150, 2);
  color: rgb(81, 150, 2);
  background-color: rgba(113, 212, 0, 0.4);
  padding: 16px 32px;
  margin-bottom: 20px;
  display: none;
}

.success {
  background-color: rgba(113, 212, 0, 0.4);
}

.error {
  background-color: rgba(212, 42, 0, 0.4);
}

#mon-slider {
  position: relative;
  height: 50vh;
}

.swiper-slide {
  height: 60vh;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio {
  padding: 80px 40px;
  background-color: #f6f8fa;
}

.portfolio-elements {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.card {
  width: 30px;
  background-color: #ffffff;
}

.card-header {
  padding: 20px 40px;
}

.card-title {
  text-transform: capitalize;
  font-size: 24px;
  font-weight: bold;
  color: #222d3b;
}

.card-axe {
  font-size: 14px;
  color: #87878a;
  margin-top: 6px;
}

.card img {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.portfolio {
  padding: 80px 40px;
  background-color: #f6f8fa;
}

.portfolio-elements {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.card {
  width: 30%;
  background-color: #ffffff;
}

.card-header {
  padding: 20px 40px;
}

.card-title {
  text-transform: capitalize;
  font-size: 24px;
  font-weight: bold;
  color: #222d38;
}

.card-axe {
  font-size: 14px;
  color: #87878a;
  margin-top: 6px;
}

.card img {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.filters {
  max-width: 1200px;
  margin: 0 auto;
}

.filters ul {
  display: flex;
  gap: 20px;
}

.filters li {
  color: #ffffff;
  background-color: rgb(130, 49, 230);
  padding: 10px 20px;
  cursor: pointer;
}

.filters li.active {
  background-color: rgb(82, 14, 151);
}

.portfolio-elements {
  padding: 50px 0 !important;
}
